.gallery {
  padding: 0px 40px 30px;
}

.gallery__filters {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.gallery__filters button {
  all: unset;
  border: 1px solid #f5deb3;
  padding: 4px;
  cursor: pointer;
  transition: 0.25s;
}

.gallery__filters button:hover {
  background-color: wheat;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.24);
  width: 350px;
  overflow: hidden;
  position: relative;
}

.gallery-item > img {
  width: 100%;
}

.gallery-item__info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.gallery-item__title {
  font-size: 17px;
  font-weight: bold;
}

.gallery-item__description {
  font-size: 15px;
  color: gray;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gallery-item__price {
  text-align: right;
  font-size: 17px;
  font-weight: bolder;
  margin-top: auto;
}

.gallery-item__cart {
  all: unset;
  background-color: wheat;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  right: -100%;
  top: 10px;
  transition: 0.25s ease-in-out;
}

.gallery-item:hover .gallery-item__cart {
  right: 10px;
}
